[submodule "hardhat"]
	path = examples/hardhat-tutorials
	url = https://github.com/AcalaNetwork/hardhat-tutorials.git
[submodule "truffle"]
	path = examples/truffle-tutorials
	url = https://github.com/AcalaNetwork/truffle-tutorials.git
[submodule "waffle"]
	path = examples/waffle-tutorials
	url = https://github.com/AcalaNetwork/waffle-tutorials.git
